html, body, #main, .col-left, .col-right {
    height: 100%;
}

body {
    margin: 0;
}

.col-plot {
    /* max-height: 600px; */
    width: 50%;
}

.col-story {
    overflow: auto;
    width: 50%;
}

.col-left {
    float: left;
    position: fixed;
    left: 0;
    top: 0;
}

.col-right {
    float: right;
}

.story-container {
    margin: 40px;
    margin-top: 68px;
}

.plot-container {
    height: 100%;
    margin: 40px;
}

.title-img-container: {
    width: 90%;
}

.title-img {
    width: 100%;
    height: auto;
}

p {
    font-family: 'Source Serif Pro', serif;
    line-height: 1.6;
    font-size: 14pt;
}

#title {
    font-size: 60pt;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin-top: 15pt;
    margin-bottom: 0;
    line-height: 1;
}

#subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    color: darkgray;
    margin-bottom: 25pt;
}
