html, body, #main, .col-left, .col-right {
    height: 100%;
}

body {
    margin: 0;
}

.col-plot {
    max-height: 600px;
    width: 50%;
}

.col-story {
    overflow: auto;
    width: 50%;
}

.col-left {
    position: fixed;
    left: 0;
    top: 0;
}

.col-right {
    float: right;
}

.story-container {
    margin: 40px;
}

.plot-container {
    height: 100%;
    margin: 40px;
}
